@media screen and ( min-width: 1200px )
  .nav
    &__item
      margin-right: 2.59rem
@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  // .container
  //   margin: auto
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  html
    font-size: 12px
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width: 770px )
  html
    font-size: 12.5px
  .hero
    &__scroll-down
      display: none
  .contacts
    &__phone
      &::after
        display: none
@media screen and ( max-width: 570px )
  html
    font-size: 12.5px
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
      &::after
        display: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &__scroll-down
      display: none
    &__content
      width: 94%
      min-width: 22.86rem
      margin-top: 0
    &__title
      font-size: 1.9rem
      margin-bottom: 1.2rem
    &__text
      font-size: 1.5rem
      margin-bottom: 2.8rem
    &__button
      display: block
      width: 100%
      height: 4.3rem
      min-width: 22.86rem
      margin-bottom: 1.85rem
      font-size: 14px
  .button
    &--primary
      margin-bottom: 2.2rem
@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none