*, *:befor, *:after
  box-sizing: border-box 
html
  font-size: 14px
body
  font-family: 'Futura Book', sans-serif
  font-size: 1rem
img
  max-width: 100%
.section
  padding: 60px 0
  &--dark
    background-color: $dark
    color: $light
  &-title
    text-align: center
    &--left
      text-align: left
    &__heading
      font-family: 'Yeseva One', cursive
      text-transform: uppercase
      line-height: 138.6%
      font-size: 
      &--primary
        color: $primary
        font-size: 1.6rem
    &__word
      display: flex
      align-items: center
      &::after
        content: ''
        width: 84px
        height: 1.8px
        margin-left: 2.1rem
        background-color: $primary
    &__text
      font-size: 1.17rem
      line-height: 2.01rem
      max-width: 31.57rem
    &__image
      display: flex
      justify-content: center
      align-items: center
      &::after, &::before
        content: ''
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px
    &__description
      margin: auto
      margin-top: 1.64rem
      font-size: 1.3rem
      line-height: 135.84%
      // width: 100%
      max-width: 52rem
.hero
  &__scroll-down
    font-family: 'Yeseva One'
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
    margin: 0 7px