.swiper
  &-slide
    &__number
      // display: flex
    &__heading
      color: $primary
      font-family: 'Yeseva One', cursive
      text-transform: uppercase
      font-size: 1.285rem
      line-height: 1.78rem
      margin-bottom: 0.64rem
      &__number
        display: flex
        justify-content: center
        flex-direction: column
        color: $light
        &::after
          content: ''
          width: 5.5%
          height: 1.2px
          background-color: $primary