.idea
  padding-bottom: 36.5rem
  padding-top: 29rem
  margin-top: -34.7rem
  .container
    max-width: 88.5rem
  .col-50
    margin-top: -0.5rem
    &__idea
      &__one
        max-width: 34rem
      &__two
        max-width: 54.7rem
  .section-title
    &__text
      text-transform: uppercase
      margin-bottom: -0.7rem
      font-size: 1.15rem
    &__word
      &::after
        margin-left: 6.3rem
    &__heading--primary
      font-size: 1.9rem
      margin-bottom: 5rem
  .swiper
    &-slide
      max-width: 62rem
      &__value
        font-family: "Futura Book"
        font-weight: 400
        font-size: 1.071rem
        line-height: 1.786rem
        max-width: 24.071rem
      &__text
        flex-basis: 70%
        &--number
          color: rgba($light, 0.4)
          flex-basis: 25.1%
          padding-top: 7.4rem
          &:nth-last-child(-n+3)
            padding-top: 2.57rem
      &__number
        display: flex
        justify-content: space-between
        max-width: 70.571rem
        font-size: 1.2rem
        font-weight: normal
        font-family: 'Yeseva One', cursive
      &__heading
        font-size: 1.054rem
        max-width: 50%
        margin-top: -0.5rem
        &--number
          display: flex
          justify-content: center
          flex-direction: column
          font-size: 0.98rem
          color: rgba($light, 0.4)
          &::after
            content: ''
            max-width: 20%
            height: 1.2px
            background-color: rgba($primary, 0.4)